<div class="news-tablet__row {{#if header}}news-tablet__row--header{{/if}}">
  <div class="news-tablet__col">{{number}}</div>
  <div class="news-tablet__col">{{date-release}}</div>
  <div class="news-tablet__col">{{name}}</div>
  <div class="news-tablet__col">{{bulletin}}</div>
  <div class="news-tablet__col">{{execution-status}}</div>
  <div class="news-tablet__col">{{date-of-validity}}</div>
</div>
