<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ page-title }}</title>

  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="../assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="../assets/images/favicon/site.webmanifest" crossorigin="use-credentials">
  <link rel="mask-icon" href="../assets/images/favicon/safari-pinned-tab.svg" color="#6607df">

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">

  <link rel="preload" href="../assets/fonts/Druk-Bold.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="preload" href="../assets/fonts/Druk-Heavy.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="preload" href="../assets/fonts/Druk-Wide-Medium.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="preload" href="../assets/fonts/GraphikRegular.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="preload" href="../assets/fonts/SourceSansPro-Regular.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="preload" href="../assets/fonts/SourceSansPro-SemiBold.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="preload" href="../assets/fonts/Roboto-Medium.woff2" as="font" type="font/woff2" crossorigin/>
  <link rel="preload" href="../assets/fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin/>

  <link rel="stylesheet" href="../assets/fonts/fonts.css?v={{cache}}">
  <link rel="stylesheet" href="../css/main.css?v={{cache}}">
</head>

<body class="page {{page-mod}} {{page-class}}" data-barba="wrapper">
  <div class="preloader js-preloader"></div>
  <div class="page__inner">
