<tr>
  {{#if header}}
    <th>{{number}}</th>
    <th>{{date-release}}</th>
    <th>{{name}}</th>
    <th>{{bulletin}}</th>
    <th>{{execution-status}}</th>
    <th>{{date-of-validity}}</th>
  {{else}}
    <td>{{number}}</td>
    <td>{{date-release}}</td>
    <td>{{name}}</td>
    <td>{{bulletin}}</td>
    <td>{{execution-status}}</td>
    <td>{{date-of-validity}}</td>
  {{/if}}
</tr>

